
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  
  
}
.modal-header{
  background-color:#0040ff;
  padding:10px;
  color:#ffffff;

}
.modal-header h2{
  margin:0;
}

.modal-header:hover h2{
  color:#00ff40;
}
.Mbody{
  padding:10px 20px;
  background-color:#ffb3b3;
}
.modal-footer{
  background-color:#0040ff;
  padding:5px;
  color:#ffffff;
}
.modal-footer h2{
  margin:0;
}

.modal-footer:hover h2{
  color:#00ffff;
}
.close {
  color:#ffffff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  
}
.clo{
  float:right;
  margin:0;
  padding:0.5em 0.5em;
  cursor:pointer;
}
.clo:hover{
  background-color:#ff0000;
  border:0;
  color:white;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}
.button{
  background:#ff0000;
  padding:1em 2em;
  color:#ffffff;
  border:0;
}
.button:hover{
  background:#00ffff;
  color:#000000;
}